<!DOCTYPE html>
<!--suppress ALL -->
<html lang=en>

<head>
	{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">


    <!-- Cropperjs -->
    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">

    <script>hljs.initHighlightingOnLoad();</script>
    <title></title>

</head>

<body>

{% include 'snippets/header.html' %}

<div class="container" id="id_loading_spinner" style="display: none">
	<div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>

<!-- Body -->
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->

{% include 'snippets/footer.html' %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{% static 'frontend/assets/index.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
	function displayLoadingSpinner(isDisplayed){
		var spinner = document.getElementById("id_loading_spinner")
		if(isDisplayed){
			spinner.style.display = "block"
		}
		else{
			spinner.style.display = "none"
		}
	}
</script>

</body>


</html>